@import '~/assets/styles/variables.scss';
@import '~/assets/styles/buttons.scss';
@import "~/assets/styles/links.scss";

@mixin for-phone {
    @media (max-width: 960px) {
        @content;
    }
}

.container {
    display: flex;
    max-width: 1264px;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;

    @include for-phone {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.page-wrapper {
    width: 100%;
    margin-top: 110px;
    top: 100px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background-color: $tertiary300;

    @include for-phone {
        margin-top: 6px;
        margin-right: 0px;
    }
  }