$primary100: #5d0003;
$primary200: #aa080d;
$primary300: #f71b24;

$secondary100: #00355d;
$secondary200: #0864aa;
$secondary300: #1b98f7;

$tertiary100: #5d5d5d;
$tertiary200: #aaaaaa;
$tertiary300: #f7f7f7;